* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0f0f0f;
    color: #e5e5e5;
}

/* HEADER */
header {
    background: #000;
    padding: 20px 0;
    border-bottom: 1px solid #2a2a2a;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo span {
    color: #bfbfbf;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #e5e5e5;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

nav a:hover {
    color: #bfbfbf;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000, #1a1a1a);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 600px;
}

.button {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #bfbfbf;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.button:hover {
    background: #ffffff;
}

/* SECTIONS */
section {
    padding: 80px 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border: 1px solid #2a2a2a;
}

/* FOOTER */
footer {
    background: #000;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #2a2a2a;
}
.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 1px solid #2a2a2a;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,255,255,0.15);
}

.service-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #2a2a2a;
    text-decoration: none;
    color: #e5e5e5;
    font-size: 18px;
    transition: 0.3s;
}

.service-btn strong {
    color: #bfbfbf;
}

.service-btn:hover {
    background: #222;
    transform: scale(1.02);
}

/* FORM */
.booking-form {
    max-width: 500px;
    margin: auto;
    background: #111;
    padding: 30px;
    border: 1px solid #2a2a2a;
}

.booking-form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.booking-form input,
.booking-form select {
    width: 100%;
    padding: 10px;
    background: #1a1a1a;
    border: 1px solid #2a2a2a;
    color: #fff;
}

.booking-form button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #bfbfbf;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.booking-form button:hover {
    background: #fff;
}
